<div id="depository-handle" x-data="{
}">
	<div>
		<h2 :id="$id('modal-title')" class="marker-green">New Note</h2>
		<div id="modal-splash">
		</div>
	</div>
	<div>
		<form id="notes-form" class="grid-col-7x-1" :hx-post="'/api/notes/'" hx-target="#modal-splash"
			hx-trigger="submit" hx-swap="innerHTML" x-effect="htmx.process($el);">

			<div class="grid-row-1-1">
				<label for="newNoteTitle" x-text="'Title'"></label>
				<input type="text" id="newNoteTitle" name="newNoteTitle" required>
			</div>


			<div class="grid-row-1-1">
				<label for="newNoteLocation" x-text="'Location'"></label>
				<input type="text" id="newNoteLocation" name="newNoteLocation">
			</div>

			<div class="grid-row-1-1">
				<label for="newNoteAudio" x-text="'Audio'"></label>
				<input type="text" id="newNoteAudio" name="newNoteAudio">
			</div>

			<div class="grid-row-1-1">
				<label for="newNotePhotos" x-text="'Photos'"></label>
				<input type="text" id="newNotePhotos" name="newNotePhotos">
			</div>

			<div class="grid-row-1-1">
				<label for="newNoteTags" x-text="'Tags'"></label>
				<input type="text" id="newNoteTags" name="newNoteTags">
			</div>

			<div class="grid-row-1-1">
				<label for="newNoteContent" x-text="'Content'"></label>
				<textarea id="newNoteContent" name="newNoteContent" required></textarea>
			</div>
			<div class="grid-row-1-1">
				<strong x-text="'Submit'"></strong>
				<button type="submit" x-text="'Create Note'"
					@click="$store.site.reroute(); alert(document.getElementById('modal-splash').innerHTML);"
					cmbr-i></button>
			</div>
		</form>
	</div>
</div>
<div id="all-notes-display">
	<template x-for="(note, index) in $get('/api/notes/')" :key="index">
		<div :class="'flex-table-row grid-col-7x-1'">
			<span x-html="note.id"></span>
			<span x-html="note.title"></span>
			<span x-html="note.location"></span>
			<span x-html="note.audio"></span>
			<span x-html="note.photos"></span>
			<span x-html="note.tags"></span>
			<span x-html="note.content"></span>
		</div>
	</template>
</div>
</div>