<form id="new-td-form" class="cmbr-flexfixed" hx-post='/api/todos/' hx-target="#alter-todos" hx-swap="innerHTML">
	<h2 class="marker-green">New Todopost</h2>
	<hr class=" hr-cmbr-dark-gradient">
	<hr class="hr-groove-top">
	<div class="grid-col-1-3-1">
		<label for="newTdInfo" x-text="'Todo Info'"></label>
		<input type="text" id="newTdInfo" name="newTdInfo" required>
		<!-- <div hx-get="../template/mdeditor.html" hx-target="this" hx-swap="outerHTML" hx-trigger="load delay:500ms"
			x-effect="htmx.process($el)">
		</div> -->
		<wbr>
	</div>
	<hr class="hr-groove-bottom">
	<hr class="hr-cmbr-dark-gradient">
	<div class="grid-col-1-3-1">
		<wbr>
		<button type="submit" x-text="'Create Td'" cmbr-i></button>
		<wbr>
	</div>
</form>