<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/images/cmbr-sig.svg">
	<link rel="stylesheet" type="text/css" href="/styles.css" media="screen" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/1.11/simplemde.min.css">
	<script src="https://unpkg.com/@popperjs/core@2"></script>
	<script src="https://unpkg.com/tippy.js@6"></script>
	<script src="https://cdn.jsdelivr.net/simplemde/1.11/simplemde.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.12.6/dist/cdn.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
	<script defer src="https://unpkg.com/alpinejs-fetch@latest/dist/api.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/marked@11.1.1/marked.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dompurify@3.4/dist/purify.min.js"></script>
	<script src="/cmbr.js"></script>
	<script src="/htmx.js"></script>
	<title>Chrispy's Worksite</title>
</head>

<body x-ref="body" data-theme="dark">

	<nav id="nav" hx-get="/nav.html" hx-target="#nav" hx-trigger="load" hx-swap="innerHTML" x-bg></nav>


	<main class="index-grid" style="align-items: center; justify-items: center;">
		<hr class="hr-push-down">

		<button class="trigger-box" hx-get="./frame-theatre.html" hx-trigger="click" hx-target="#frame-theatre"
			hx-swap="outerHTML">Frame!</button>
		<hr hcg>

		<div id="frame-theatre" style="height: 3rem; width: 5rem; border: 0.3rem solid indianred;"></div>


		<hr class="hr-push-down">



	</main>
</body>

</html>