<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../images/cmbr-sig.svg">
	<link rel="stylesheet" type="text/css" href="/styles.css" media="screen" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/1.11/simplemde.min.css">
	<script src="https://unpkg.com/@popperjs/core@2"></script>
	<script src="https://unpkg.com/tippy.js@6"></script>
	<script src="https://cdn.jsdelivr.net/simplemde/1.11/simplemde.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.12.6/dist/cdn.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
	<script defer src="https://unpkg.com/alpinejs-fetch@latest/dist/api.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/marked@11.1.1/marked.min.js"></script>
	<script src="/cmbr.js"></script>
	<script src="/htmx.js"></script>
	<title>Dusty Depot</title>
</head>

<body x-ref="body" data-theme="dark">

	<nav id="nav" hx-get="/nav.html" hx-target="#nav" hx-trigger="load" hx-swap="innerHTML" x-bg></nav>

	<main class="index-grid" style="align-items: center; justify-items: center;" x-data="{
		notice: {},
		parseNotice: function() {
			return JSON.parse(this.notice);
		}
		}">

		<hr class="hr-push-down">

		<div class="glass-pane glass-pane-backing" style="width:30rem; height: 10rem;">
		</div>
		<div id="alter" @htmx:before-swap="notice = event.detail.serverResponse;"
			@htmx:after-swap="$store.notifier.trigger()"
			style="width:30rem; height:3rem; border: 0.3rem solid transparent;" hx-get="notice.html"
			hx-target="#notifier" hx-trigger="htmx:after-settle" hx-swap="innerHTML"
			x-show="$store.notifier.open === false">
		</div>
		<div id="notifier" style="width:30rem; height:3rem; border: 0.3rem solid transparent;"
			x-show="$store.notifier.open === true" x-transition>
			<img width="100%" height="100%" src="../images/squares-fade.svg" alt="loading..." cmbr-loading />

		</div>

		<div id="all-clouds-display" class="grid-col-1-1">
			<div>
				<form id="new-cloud-form" hx-post='/api/media/clouds' hx-trigger="submit" hx-target="#alter"
					hx-swap="none settle:1s">
					<label for="title" x-text="'Cloud Title'"></label>
					<input type="text" name="title" :id=$id('title') required>

					<label for="thought" x-text="'Cloud Thought'"></label>
					<input type="text" name="thought" :id=$id('thought') required>

					<label for="weight" x-text="'Cloud Weight'"></label>
					<input type="number" name="weight" :id=$id('weight')>
					<button type="submit" x-text="'Make Cloud'" @click="htmx.process($el);" cmbr-i>
					</button>
				</form>
			</div>
			<div hx-get="newercloud.html" hx-trigger="submit" hx-target="this" hx-swap="outerHTML">
				<dl>
					<template x-for="cloud in await $get('/api/media/clouds')">
						<div class="grid-col-1-1-1-1"
							style="width:30rem; height:fit-content; border: 0.1rem solid cornflowerblue;">
							<div>
								<b x-html="cloud.id"></b>
							</div>
							<div>
								<dt x-html="'Cloud Title: ' + cloud.title"></dt>
							</div>
							<div>
								<dd x-html="'Cloud Thought: ' + cloud.thought"></dd>
							</div>
							<div>
								<button style="border-color:darkred;" :hx-delete="'/api/media/clouds/' + cloud.id"
									hx-trigger="click" hx-target="#alter" hx-swap="innerHTML"
									hx-confirm="'Are you sure you want to delete this cloud?'"
									x-effect="htmx.process($el)" x-text="'Delete'"
									@click="$store.site.reroute();"></button>
							</div>
						</div>
					</template>
				</dl>
			</div>
		</div>

	</main>
</body>

</html>